<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lute.takeuappointment">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera"
                   android:required="true"/>
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_agenda_splash"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_agenda_splash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BALoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AASplashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BBMenuClienteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CAProfesionalesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CBClienteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CCRegistroClienteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DAConfirmacionClienteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DAConfirmacionProfesionalesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PruebaProfesionales"
            android:screenOrientation="portrait" />
        <activity android:name=".pruebaFoto" />
        <activity android:name=".CBHorasDialog"></activity>
    </application>

</manifest>